<style type="text/css">   
    .absoluteCenter{
        position: absolute;
        margin: auto;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }
    .confirmDialog{
        display: none;
        width: 400px;
        height: 180px;
        box-shadow: 0 1px 5px 3px rgba(0,0,0,.065);  
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        z-index: 2600;
    }      
    .confirmDialog .title{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 380px;
        height: 20px;
        padding: 10px;
        line-height: 20px;
        font-size: 20px;
        background-color: #08c;
        color: white;
        text-align: center;
    }
    .confirmDialog .body{
        background-color: white;
        height: 100px;
        width: 100%;
        text-align: center;
        line-height: 100px;
        font-size: 15px;
    }
    .confirmDialog .footer{       
        background-color: white;
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
    }
  </style>
  <script type="text/javascript">
        $(document).ready(function(){
            var $confirmDialog= $(".confirmDialog");
            var $closeBtn= $confirmDialog.find("#closeBtn");
            var $confirmBtn= $confirmDialog.find("#confirmBtn");

            window.ShowConfirmDialog= function(title, body, confirmCallback, cancelCallback){
                var titleText= title|| "确认";
                var bodyText= body|| "是否确认?";
                $confirmDialog.css("display", "block");
                $confirmDialog.find(".title").text(titleText);
                $confirmDialog.find(".body").empty();
                $confirmDialog.find(".body").append(bodyText);
                if(confirmCallback&& typeof(confirmCallback== "function")){
                    $confirmDialog.find("#confirmBtn").click(function(e){
                        confirmCallback(e, $confirmDialog);
                        return false;
                    });
                }else{
                    $confirmDialog.find("#confirmBtn").unbind("click");
                }
                if(cancelCallback&& typeof(cancelCallback)== "function"){
                    $confirmDialog.find("#closeBtn").click(function(e){
                        cancelCallback(e, $confirmDialog);
                        return false;
                    });
                }else{
                    $confirmDialog.find("#closeBtn").unbind("click");
                }
            };
        });
  </script>
  <div class= "confirmDialog absoluteCenter">
        <div class= "title">
        </div>
        <div class= "body">
            
        </div>
        <div class= "footer">
            <button class= "btn btn-primary" id= "confirmBtn">确认</button>
            <button class= "btn btn-primary" id= "closeBtn">取消</button>
        </div>
  </div>