<style type="text/css">
     .unsolvecomplaintTitle{
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          height: 20px;
          padding: 10px;
          line-height: 20px;
          font-size: 15px;
          background-color: #08c;
          color: white;
          text-align: center;
          margin: 0 -10px;
          margin-bottom: 10px;
     }
</style>

<div class= "unsolvecomplaintTitle">
     未处理投诉列表
</div>
<table class= "table table-hover table-striped table-bordered" style= "background-color: white; border-radius: 0px;">
     <thead> 
          <tr>              
               <th style= "width: 25%;">投诉ID</th>
               <th style= "width: 25%;">用户ID</th>
               <th style= "width: 50%;">投诉标题</th>
          </tr>
     </thead>
     <tbody>   
          {% for unsolvecomplaint in unsolvecomplaintList %}
               <tr>
                    <td>{{unsolvecomplaint.complaintid}}</td>
                    <td>{{unsolvecomplaint.cuserid}}</td>
                    <td><a href="#" class= "unsolveComplaintTitle">{{unsolvecomplaint.cticketsubject}}</a></td>
               </tr>    
          {% endfor %}       
     </tbody>
</table>