<table class= "table table-hover table-striped table-bordered" style= "background-color: white; margin: 0px;">
     <thead>
          <tr>              
               <th style= "width: 10%;">ID号</th>
               <th style= "width: 25%;">昵称</th>
               <th style= "width: 25%;">电话号码</th>
               <th style= "width: 25%;">密码</th>
               <th style= "width: 15%;">认证</th>
          </tr>
     </thead>
     <tbody>   
        <tr>
            <td>{{user.uid}}</td>
            <td>{{user.unickname}}</td>
            <td>{{user.uphone}}</td>
            <td>{{user.upassword}}</td>
            <td>{{user.urole}}</td>
        </tr>       
     </tbody>
</table>
<table class= "table table-hover table-striped table-bordered" style= "background-color: white; margin: 0px;">
     <thead>
          <tr>              
               <th style= "width: 10%;">性别</th>
               <th style= "width: 25%;">注册日期</th>
               <th style= "width: 25%;">生日</th>
               <th style= "width: 25%;">真实姓名</th>
               <th style= "width: 15%;">职业</th>
          </tr>
     </thead>
     <tbody>   
        <tr>
            <td>{{user.ugender}}</td>
            <td>{{user.uregtime}}</td>
            <td>{{user.ubirthday}}</td>
            <td>{{user.urealname}}</td>
            <td>{{user.uprofession}}</td>
        </tr>       
     </tbody>
</table>
<table class= "table table-hover table-striped table-bordered" style= "background-color: white; margin: 0px;">
     <thead>
          <tr>              
               <th style= "width: 10%;">楼号</th>
               <th style= "width: 25%;">QQ号</th>
               <th style= "width: 25%;">车牌号</th>
               <th style= "width: 25%;">家庭号</th>
               <th style= "width: 15%;">房间号</th>
          </tr>
     </thead>
     <tbody>   
        <tr>
            <td>{{user.ubuilding}}</td>
            <td>{{user.uqqnum}}</td>
            <td>{{user.ucarnums}}</td>
            <td>{{user.ufamilyno}}</td>
            <td>{{user.uroom}}</td>
        </tr>       
     </tbody>
</table>